#camParams.cfg - camara parameters configuration filea
#vales represent a percentual value where 50 indicates the default values
#Limits: 100 indicates a value 6x the default; 0 indicates value -4x the default
#First 8 parameters for right Camera and following 8 parameters for left Camera
# V. Santos, Mar 2006
fxR	50
fyR	50
cxR	50
cyR	80
k1R	75
k2R	50
k3R	50
k4R	50
fxL	50
fyL	50
cxL	50
cyL	80
k1L	75
k2L	50
k3L	50
k4L	50
overH	21
bin	215
